body {
  color: grey;
  background-color: black;
}

.start-button, .test-button, select {
  font-size: 1.2rem;
}

.pitch-button {
  background-color: grey;
  color: black;
  font-size: 3rem;
  width: 5ch;
}

.pitches-container {
  display: flex;
  justify-content: center;
  gap: 2ch;
}

.active-pitch {
  background-color: pink;
}

p {
  font-size: 2rem;
}