body {
  color: grey;
  background-color: black;
}

.start-button, .test-button {
  font-size: 3rem;
}

.pitch-button {
  background-color: grey;
  font-size: 3rem;
  width: 5ch;
}

.pitches-container {
  display: flex;
  justify-content: center;
  gap: 2ch;
}

.active-pitch {
  background-color: pink;
}

.pitch-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type=range] {
  -webkit-appearance: slider-vertical;
}